<!DOCTYPE html>
<html>
<head>
    <title>Download VCF</title>
</head>
<body>
    <h1>Group: <%= groupName %></h1>
    <p>Phone Number: <%= phoneNumber %></p>
    <a href="/downloads/<%= phoneNumber %>.vcf" download>Download VCF File Here</a>
</body>
</html>